<header>
  <nav>
    <a href="/"> Bobots </a>
    <ul>
      <li><a href="/moonbases"> All Moonbases </a></li>
      <li><a href="/moonbases/new"> New Moonbase </a></li>
    </ul>
  </nav>
</header>
